<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{titulo}}</title>
</head>
<body class="body">
    {{#if lista.length}}
    <table class="table">
        <tr class="tr1">
            <th class="th1">NOMBRE</th>
            <th class="th2">PRECIO</th>
            <th class="th3">FOTO</th>
        </tr>
        {{#each lista}}
        <tr class="tr2">
            <td class="td1">{{title}}</td>
            <td class="td2">{{price}}</td>
            <td class="td3"><img src="{{thumbnail}}" ></td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <strong>no hay encontraron productos</strong>
    {{/if}}
    <input class="btn" type="button" onclick="location.href='/';" value="atras">
</script>
</body>
</html>